################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/ASM/v16
/Laba1/.vs/
/Laba2/.vs/
/Laba3/.vs/
/Laba4/.vs/